<?xml version="1.0" encoding="utf-8"?>
<Media Key="7573658e-cfda-4673-8ca3-05964878cf20" Alias="file_example_MP4_1920_18MG.mp4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/file_example_MP4_1920_18MGmp4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2026-09-10T11:24:49</CreateDate>
    <NodeName Default="file_example_MP4_1920_18MG.mp4" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <wistiaVideo>
      <Value><![CDATA[{
  "Src": "/media/dhhkxs2f/file_example_mp4_1920_18mg.mp4",
  "WistiaAssetId": "6aa2937d9c7b148e584a7cff",
  "PlaybackUrl": "https://video.wistia.io/6aa290c19c7b148e584a6d44/6aa2937d9c7b148e584a7cff/main.m3u8"
}]]></Value>
    </wistiaVideo>
    <umbracoFile>
      <Value><![CDATA[/media/dhhkxs2f/file_example_mp4_1920_18mg.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>