<?xml version="1.0" encoding="utf-8"?>
<Content Key="347329d6-5b85-4c85-b66a-d2bbd727ea7b" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>test</ContentType>
    <CreateDate>2026-09-10T11:26:39</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="95df3fc7-12d2-4fcd-8566-11dc281ecc37">Test</Template>
  </Info>
  <Properties>
    <media>
      <Value><![CDATA[[
  {
    "key": "ae307d5d-d6fc-4c0d-bd3b-d53304e04976",
    "mediaKey": "7573658e-cfda-4673-8ca3-05964878cf20",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </media>
  </Properties>
</Content>