<?xml version="1.0" encoding="utf-8"?>
<DataType Key="56c87390-f535-47d9-9567-163bba72f572" Alias="Video - Wistia Video - Wistia Sync" Level="1">
  <Info>
    <Name>Video - Wistia Video - Wistia Sync</Name>
    <EditorAlias>uWis.Sync</EditorAlias>
    <EditorUIAlias>uWis.PropertyEditorUi.WistiaSync</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "uploadPropertyAlias": "umbracoFile"
}]]></Config>
</DataType>
